#google{
    background:white !important;
    width:100%;
    min-height: 30px;
    border-radius: 1em;
}
#facebook {
    background:#3b5998 !important;
    width:100%;
    min-height: 30px;
    border-radius: 1em;
}
.inputC{
    
    border: 1px solid #88B3FF;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom:15px;
    padding-left: 5px;
   
    

}

.container{

    align-content: center;
    align-items: center;
     
}
p{
    margin: 12px 12px;
   text-align: center;
    color:#A6ADB1;
    font-size: 12px;
}
label{
    font-size:15px;
    
}
.btn-Forgot{
    background: none;
    margin-left: 10px;
    font-size: 13px;  
    color:#737373;

}
label{
    margin-right: 10px;
    font-size: 13px;
    color:#737373;
}

.btn-login{
    border-radius:18px;
   background-color: #70CADB;
   width: 100%;
   align-items: center;
   margin-top: 15px;
    margin-bottom:15px;
   
}
.link-sign-up{
    color: #3C82FF;
    background: none;
    margin-left: 30px;
    margin-top: 10px;
}
#label-link{
margin-top: 10px;
margin-left: 10px;
color:#AAAAAA;
}