<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Chat</ion-title>
    <ion-buttons end>
      <ion-item no-lines class="avatar">
        <ion-avatar>
          <img src="{{ currentUser.photoURL }}" />
        </ion-avatar>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="message">
        Chat rooms
      </ion-segment-button>
      <ion-segment-button value="peoples">
        People
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'message'">
      <ion-item no-lines>
        <ion-thumbnail item-start>
          <ion-item *ngFor="let chatRoom of chatRooms; let i = index">
            <ion-avatar item-start>
              <img src="{{ chatRoom.imagen }}" />
            </ion-avatar>
            <ion-title>{{ chatRoom.nombre }}</ion-title>
          </ion-item>
        </ion-thumbnail>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'peoples'">
      <ion-item no-lines>
        <ion-thumbnail item-start>
          <ion-item
            *ngFor="let user of users; let i = index"
            (click)="chatWith(user)"
          >
            <ion-avatar item-start>
              <img src="{{ user.photoURL }}" />
            </ion-avatar>
            <ion-title>{{ user.email }}</ion-title>
            <span class="state dot online" item-start></span>
          </ion-item>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
