page-profile {

    //Perfil
    .profile{
        text-align: center; 
        margin: 1px 3px; 
    }

    p{
        text-align: center;
        margin: 1px;        
    }

    img{
        width: 30%; 
        height: 30%; 
        border-radius: 50%; 
        margin: 25px auto;
        text-align: center;
        bottom: 50px;        
    }

    div {
        text-align: center;
        margin: 10px 10px;
        
    }

    #capa{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 20%;
        margin: 1%;
    }

    .state{
        z-index: 1;
        position: absolute;
        margin: -20% 34%;       
        
        &.dot{
            &.online{
            height: 15px;
            width: 15px;
            background: #5cb85c;
            border-radius: 50%;
            display: inline-block;         
            }
        }
    }
    
   

      
}