<ion-content>
  <div class="profile">
    <ion-title>
      Profile
    </ion-title>
  </div>

  <div id="capa"></div>

  <ion-avatar>
    <img src="{{ photoURL }}" />
  </ion-avatar>

  <div item-end class="state">
    <span class="state dot online" item-start></span>
  </div>

  <ion-title>
    {{ name }}
  </ion-title>
  <ion-label *ngIf="profession">{{ profession }}</ion-label>

  <br />

  <ion-card>
    <ion-card-header>
      <b>About</b>
    </ion-card-header>

    <ion-card-content *ngIf="about">
      <ion-label style="text-align: justify">
        {{ about }}
      </ion-label>
    </ion-card-content>

    <ion-card-header>
      <b>Content</b>
    </ion-card-header>

    <ion-card-content class="datos">
      <ion-item>
        <ion-icon name="mail-open" item-start></ion-icon>
        <ion-label style="text-align: left"> {{ email }}</ion-label>
      </ion-item>

      <ion-item *ngIf="web">
        <ion-icon name="globe" item-start></ion-icon>
        <ion-label style="text-align: left">{{ web }}</ion-label>
      </ion-item>

      <ion-item *ngIf="hobbie">
        <ion-icon name="american-football" item-start></ion-icon>
        <ion-label style="text-align: left"> {{ hobbie }}</ion-label>
      </ion-item>

      <ion-item *ngIf="profession">
        <ion-icon name="school" item-start></ion-icon>
        <ion-label style="text-align: left">{{ profession }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button ion-button color="primary" (click)="logOut()">Log out</button>
</ion-content>
