$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$mobilemax: "(min-width: 411px)";

.diag{
  //PARA PRUEBA CON LAB.

  position: relative;
  top:90px;
  width:100%;
  height:100%;
  margin-top:28px;

  @media #{$mobilemax}{
    
  position: relative;
  top:110px;
  width:650px;
  height:100%;
  left: -110px;
  margin-top:28px;
  }

  }
.diag2 {
  //PARA PRUEBA CON LAB.
    position:relative;
    width:100%;
    top:80px;
    height:66%;

    @media #{$mobilemax}{
      position:relative;
    width:100%;
    top:100px;
    height:66%;
    }
}

.diag3 {
  //PARA PRUEBA CON LAB.
  position:relative;
  width:100%;
  top: 10px;
  height:66%;

  @media #{$mobilemax}{
    position:relative;
  width:100%;
  top:50px;
  height:66%;

  }
}
img {
   //margin-top:40%;
}
ion-icon {
    margin-top:40%;
    font-size:7em;
}
h3{
  //PARA PRUEBA CON LAB.
    position: relative;
    top: 2px !important;
    left: 15%; 
    width: 70%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    //margin-top:100% !important;
    text-align: center ;
    font-size:12px;
    color: #0f1950;

    @media #{$mobilemax}{
      position: relative;
    top: 25px !important;
    left: 15%; 
    width: 70%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    //margin-top:100% !important;
    text-align: center ;
    font-size:12px;
    color: #0f1950;
    }
}
#direc h4{
  position: relative;
    left: 15%; 
    width: 70%;
    font-weight: bold ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px !important;
    color: #0f1950;
}
h2 {
   
    //PARA PRUEBA EN LAB.
    position: relative;
    top: -206px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:100% !important;
    text-align: center;
    font-size:21px;
    color: #0f1950;

    @media #{$mobilemax} {
    position: relative;
    top: -260px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:100% !important;
    text-align: center;
    font-size:21px;
    color: #0f1950;

    }
    

    @media #{$tablet} {
        text-align: center;
        font-size:35px;
        color: #0f1950;
      }
    
      @media #{$desktop} {
        text-align: center;
        font-size:30px;
        color: #0f1950;
      }
}
.link-sign-up {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    font-size: 15px !important;
    font-weight: bold;
    position: relative;
    top: -50px;
    left: 70% !important;
    color: #3c82ff;

    @media #{$mobilemax} {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      float: left;
      font-size: 15px !important;
      font-weight: bold;
      position: relative;
      top: -40px;
      left: 70% !important;
      color: #3c82ff;
    }
    
    @media #{$tablet} {
        font-size: 20px;
        position: relative;
        text-align: center;
        left:540px;
        top: -30px;
      }
    
      @media #{$desktop} {
        margin-top: -40em;
        text-align: center;
      }
}


p {
   
  position: relative;
  top: -208px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 33px;
  color: #0f1950 !important;

  @media #{$mobilemax}{
  position: relative;
  top: -265px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  color: #0f1950 !important;
  } 

  @media #{$tablet} {
    font-size: 25px;
    color: #0f1950;
  }

  @media #{$desktop} {
    font-size: 20px;
    color: #0f1950;
  }
}

.swiper-pagination-bullet-active {
    background:#3C82FF;
}

.swiper-pagination {
    bottom: 12% !important;
}

#skip {
    position:absolute;
    bottom: 20px;
    width:100%;
    background: none !important;
    text-align: center;
    cursor: pointer;
    z-index: 5;
}