<div class="menu">
  <!-- <div class="back"><i class="fa fa-chevron-left"></i> -->
  <div class="back">
    <img src="{{ currentuser.photoURL }}" draggable="false" />
  </div>
  <div class="name">{{ title }}</div>
  <div class="last" (click)="goToBack()">Go to back</div>
</div>
<ion-content overflow-scroll="true">
  <ol class="chat" *ngIf="messages">
    <li *ngFor="let msg of messages; let i = index" class="{{ msg.clase }}">
      <div class="avatar">
        <img src="{{ msg.uPhotoURL }}" draggable="false" />
      </div>
      <div class="msg">
        {{ msg.text }}
        <br />
        <time> {{ msg.time }} </time>
      </div>
    </li>
  </ol>
  <ion-grid>
    <ion-row>
      <ion-col size="11">
        <ion-input placeholder="Enter a message" [(ngModel)]="message">
        </ion-input>
      </ion-col>
      <ion-col size="1">
        <button ion-button color="primary" (click)="send()">Send</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
