page-chat-private {
  background: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0px auto;
}

.self .msg time {
  color: white;
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 75px;
  background: #fff;
  z-index: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: inset 0px 0px 10px 0px #ccc;
}

.back {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 0px;
  left: 0px;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.back img {
  position: absolute;
  top: 5px;
  left: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  margin: 15px;
}

.name {
  position: absolute;
  top: 10px;
  left: 110px;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  color: #000;
  cursor: default;
}
.last {
  position: absolute;
  top: 45px;
  left: 115px;
  font-family: 'Lato';
  font-size: 2rem;
  font-weight: 400;
  color: #0083ff;
  cursor: default;
}
.chat {
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 80px;
  margin-bottom: 10px;
}

.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
  box-shadow: 1px #ccc;
}

.chat .avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 2;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
}
.chat .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.other .msg {
  order: 1;
  border-top-left-radius: 0px;
  width: 100%;
  background: #f1f1f1;
  color: #333;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.self .msg {
  order: 1;
  border-bottom-right-radius: 0px;
  width: 100%;
  background: #3c82ff;
  color: #f5f5f5;
}
.self .avatar {
  order: 2;
}

.msg {
  background: white;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
}
.msg p {
  font-size: 1.8rem;
  margin: 0 0 0.2rem 0;
}
.msg img {
  position: relative;
  display: block;
  width: 450px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #eee;
  transition: all 0.4s cubic-bezier(0.565, -0.26, 0.255, 1.41);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@media screen and (max-width: 800px) {
  .msg img {
    width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .msg img {
    width: 200px;
  }
}

@media (max-width: 760px) {
  .self .msg {
    width: 85%;
  }
  .other .msg {
    width: 85%;
  }
}

.msg time {
  font-size: 1.2rem;
  color: #000;
  /*    margin-top: 3px;
*/
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
