

#google{
    background:white !important;
    width:100%;
    min-height: 30px;
    border-radius: 1em;
}
#facebook {
    background:#3b5998 !important;
    width:100%;
    min-height: 30px;
    border-radius: 1em;
}

#titulo {
    background: url('../assets/img/login/Path_10385.png') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 130px;
    width: 100%;
    min-width: 300px;
    margin-left: -1em;
    background-position-x: -1pc;
    background-position-y: bottom;
}
#ButtonSections{
    margin-top: -1.2em;
}

#titulo h1 {
    font-size : 22px;
    color: white;
    text-align: center ;
    padding-top: 1em;
    font-weight: bold;
    text-decoration: underline;
}
#titulo p {
    color: white ;
    font-size: 10px;
}
.container{

    width: 98%;
    align-content: center;
    align-items: center;
     
}
.inputC{
    
    border: 1px solid #88B3FF;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom:15px;
    padding-left: 5px;
   
}
p{
    margin: 12px 12px;
   text-align: center;
    color:#A6ADB1;
    font-size: 12px;
}

.btn-SignUp{
    border-radius:18px;
   background-color: #70CADB;
   width: 100%;
   align-items: center;
   margin-top: 15px;
    margin-bottom:15px;
   
} 
label{
    font-size: 12px;
    color:#9E9E9E;
}